<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssm.dao.testMapper">
    <resultMap type="ssm.pojo.testPojo" id="mtestPojo" autoMapping="true">
    </resultMap>
    <insert id="insert" parameterType="testPojo">
        INSERT INTO test(id,
                         test)
                VALUE(#{id},#{test})
    </insert>
</mapper>